/* Fonts Import */
@font-face {
    font-family: 'horror_sketchhorror_sketch';
    src: url('fonts/horror_sketch-webfont.eot');
    src: url('fonts/horror_sketch-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/horror_sketch-webfont.woff') format('woff'),
         url('fonts/horror_sketch-webfont.ttf') format('truetype'),
         url('fonts/horror_sketch-webfont.svg#horror_sketchhorror_sketch') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color: #12110f;
	font-family: 'Myriad Pro';
	color: #FFFFFF;
}


a::-moz-selection, p::-moz-selection, span::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, img::-moz-selection, label::-moz-selection{
	background: #da501c;
	color: white;
}

a::selection, p::selection, span::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, img::-moz-selection, label::selection{
	background: #da501c;
	color: white;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'horror_sketchhorror_sketch';
}

.clear{
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}

/*
.success, .error{
	display: none;
}*/

.hide{
	display: none;
}

.show{
	display: block;
}

a:hover{
	text-decoration: none;
}

/* HEADER */
header{
	background: url(images/header_bg2.png) center repeat-x;
	height: 389px;
	position: relative;
	z-index: 11;
}

#content_header{
	background-image: url(images/manoir.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 268px;
	position: relative;
}

#logo{
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	height: 211px;
	width: 289px;
}

#logo a{
	display: block;
	height: 113px;
	width: 232px;
	position: absolute;
	top: 73px;
	left: 25px;
	text-indent: -999px;
}

/*
.navbar-inner{
	border: none;
	opacity:0.5;
	filter:alpha(opacity=50);
}
*/

.navbar{
	background: url(images/nav.png) no-repeat;
	height: 50px;
	border: none;
}

.navbar-inverse .navbar-inner{
	background: none;
	border: none;
	box-shadow: none;
}

.linav{
	line-height: 50px;
}

.navbar-inverse .nav > li:nth-child(3) > a{
	font-weight: bold;
}

.navbar-inverse .nav > li > a.actif{
	text-shadow: 0px 0px 13px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=0, offy=0);
	color: #FFFFFF;
}

.navbar-inverse .nav > li > a.jouer{
	text-shadow: 0px 0px 10px #FF0000;
    filter: dropshadow(color=#FF0000, offx=0, offy=0);
}

.navbar-inverse .nav > li > a:hover{
	text-shadow: 0px 0px 10px #FF0000;
    filter: dropshadow(color=#FF0000, offx=0, offy=0);
}

.navbar-inverse .nav > li > a.jouer:hover{
	text-shadow: 0px 0px 15px #FF0000;
    filter: dropshadow(color=#FF0000, offx=0, offy=0);
}

.navbar-inverse .nav > li > a.actif:hover{
	text-shadow: 0px 0px 13px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=0, offy=0);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color: #FF0000;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 2.875em;
	text-align: center;
	padding: 0;
}
/*
nav{
	background: url(images/nav_bg.jpg) center;
	height: 50px;
	padding-left: 20px;
}

nav a{
	color: #FF0000;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 2.875em;
	text-align: center;
	line-height: 50px;
}

nav a:nth-child(3){
	font-weight: bold;
}

nav a.actif{
	text-shadow: 0px 0px 13px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=0, offy=0);
	color: #FFFFFF;
}

nav a.jouer{
	text-shadow: 0px 0px 10px #FF0000;
    filter: dropshadow(color=#FF0000, offx=0, offy=0);
}

nav a:hover{
	text-shadow: 0px 0px 10px #FF0000;
    filter: dropshadow(color=#FF0000, offx=0, offy=0);
    color: #FF0000;
}

nav a.jouer:hover{
	text-shadow: 0px 0px 15px #FF0000;
    filter: dropshadow(color=#FF0000, offx=0, offy=0);
}
*/

/* MODAL SIGN IN/LOG IN */
#myModal{
	color : black;
	background-image: url(images/fond_modal3.png);
	width: 462px;
	height: 621px;
	background-color: transparent;
	border: 0px;
	border-radius: 0 0 0 0;
}

/*
#myModal #signin_success, #myModal #login_success{
	display: none;
	margin: 0;
}*/

#myModal .help-inline{
	font-size: 0.75em;
	float: right;
}

#myModal form{
	color: white;
	margin: 0;
}

#myModal .modal-header{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0;
}

#myModal h3{
	color: #cd0200;
	font-size: 2em;
}

#myModal .modal-body{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-y: visible;
}

#myModal .modal-body #myCollapse .accordion-group{
	border: 0;
	border-radius: 0 0 0 0;
	margin-bottom: 15px;
}

#myModal .accordion-heading a{
	color: #9a2d04;
	font-size: 1.2em;
	padding-bottom: 2px;
	border-bottom: 1px solid #9a2d04;
}

#myModal .accordion-heading a:hover{
	color: #da501c;
	border-bottom: 1px solid #da501c;
}

#myModal .accordion-inner{
	border-top: 0;
	padding: 15px 0;
}

/*
#myModal .control-group.error .control-label, #myModal .control-group.error .help-block, #myModal .control-group.error .help-inline{
	color: red;
}*/

#myModal .form-horizontal .control-label{
	width: 185px;
}

#myModal .form-horizontal .controls{
	margin-left: 210px;
}

#myModal input, #myModal textarea, #myModal .uneditable-input{
	width: 188px;
	background-color: rgba(0, 0, 0, 0.5);
}

/*
#myModal .control-group.error input, #myModal .control-group.error select, #myModal .control-group.error textarea{
	border-color: red;
}*/

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], #myModal input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	border: 1px solid #9A2D04;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	border-color: #DA501C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(218, 80, 28, 0.6);
	color: #DA501C;
}

#myModal .controls > .radio:first-child, #myModal .controls > .checkbox:first-child{
	padding-top: 0;
	margin-bottom: 20px;
}

#myModal .radio, #myModal .checkbox{
	padding-left: 0;
}

#myModal #check{
	width: 0;
	margin-left: 0;
	margin-right: 10px;
}
	
#myModal .btn{
	background-image: url(images/buttons.png);
	background-repeat: no-repeat;
	background-position: -45px 0;
	width: 140px;
	height: 45px;
	text-shadow: 0 0 0;
	border: 0;
	background-color: transparent;
	color: #f3e6d0;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 1.875em;
	text-align: center;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0;
}

#myModal .btn:hover{
	background-position: -45px -45px;
	transition: none;
}

#myModal #login_form .control-group:last-child{
	margin: 0;
}

#myModal .modal-footer{
	border-radius: 0 0 0 0;
	border-top: 0;
	box-shadow: 0 0 0;
	background-color: transparent;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* CONTENT */
#bg_content_top{
	margin-top: -76px;
	background: url(images/intro_bg.png) center repeat-x;
	height: 267px;
}

#content_contenu{
	margin-top: -266px;
}

#left_bar{
	margin-bottom: 25px;
}

#right_bar_content{
	margin-top: -10px;
}

#right_bar_left_right{
	background-image: url(images/left_rightbar.png), url(images/right_rightbar.png);
	background-repeat: repeat-y;
	background-position: left top, right top;
	position: relative;
	padding-top: 25px;
}

#right_bar_bg{
	background-image: url(images/content_rightbar.png);
	background-repeat: repeat;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 68px;
	right: 68px;
	height: 100%;	
}

#right_bar_bot{
	background-image: url(images/bot_rightbar.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	height: 61px;
}

.right_bar_bloc{
	padding-right: 20px;
	padding-bottom: 10px;
	position: relative;
	z-index: 2;
}

.right_bar_bloc h2{
	font-size: 1.875em;
	border-bottom: 2px solid #691e1b;
	margin-left: 20px;
	margin-bottom: 0;
}

.right_bar_bloc li{
	font-size: 0.875em;
	border-bottom: 1px solid #744847;
}

.right_bar_bloc li a{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.right_bar_bloc li a:hover{
	background-color: rgba(154,45,4,0.2);
}

.nom_top{
	color: #9a2d04;
}

.points_top{
	float: right;
	color: #FFFFFF;
}

.titre_discussion{
	color: #9a2d04;
	margin-bottom: 0;
}

.infos_discussion{
	color: #FFFFFF;
	margin-bottom: 0;
}

.date_discussion{
	float: right;
	margin-right: 8px;
}

.heure_discussion{
	float: right;
}

#medias_sociaux{
	margin-top: 10px;
}

#medias_sociaux li{
	float: left;
	border: none;
}

#medias_sociaux li a{
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
}

#medias_sociaux li:hover{
	cursor: pointer;
}

#twitter_btn{
	margin-right: 8%;
	margin-bottom: 8%;
	background-image: url(images/social_buttons.png);
	background-position: 0 0;
}

#facebook_btn{
	margin-right: 8%;
	margin-bottom: 8%;
	background-image: url(images/social_buttons.png);
	background-position: 100px 0;
}

#github_btn{
	background-image: url(images/social_buttons.png);
	background-position: 50px 0;
}

#twitter_btn:hover{
	background-position: 0 50px;
}

#facebook_btn:hover{
	background-position: 100px 50px;
}

#github_btn:hover{
	background-position: 50px 50px;
}

#principal_content{
	padding-top: 10px;	
}

#content_top{
	margin-bottom: 100px;
}

#center_content_top{
	padding-top: 50px;
}

#center_content_top h1{
	color: #af1000;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 2.250em;
}

#center_content_top p{
	color: #f3e6d0;
	font-size: 0.875em;
	padding-left: 5px;
}

.news{
	background: url(images/newscontent_top.jpg) 50% 0 no-repeat;
	padding-top: 10px;
}

.thenews{
	background: url(images/newscontent_bot.jpg) 50% 100% no-repeat;
	padding-bottom: 40px;
}

.news h2 a{
	color: #9a2d04;
	font-family: 'horror_sketchhorror_sketch';
}

.infos_news{
	font-size: 0.750em;
	clear: both;
	margin-bottom: 10px;
}

.auteur_news, .nombre_commentaires_news{
	color: #9a2d04;
}

.nombre_commentaires_news{
	margin-left: 15px;
	background-image: url(images/comment_ico.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.auteur_news:hover{
	color: #be3707;
}

.nombre_commentaires_news:hover{
	color: #be3707;
	background-image: url(images/comment_ico_hover.png);
}

.img_news{
	clear: both;
}

.img_news a{
	display: block;
}

.img_news img{
	max-width: 100%;
	width: 100%;
	border: 2px solid #9a2d04;
}

.texte_news{
	margin-top: 10px;
	font-size: 0.875em;
	color: #f3e6d0;
}

.contenu_texte_news{
	margin-bottom: 20px;
}

.plus_news a{
	color: #9a2d04;
}

.plus_news a:hover{
	color: #be3707;
}

#buttons_news{
	background: url(images/newscontent_top.jpg) 50% 0 no-repeat;
	padding-top: 30px;
}

#buttons_news span{
	float: left;
}

#buttons_news span a{
	display: block;
	color: #f3e6d0;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 1.875em;
	text-align: center;
	line-height: 45px;
}

#buttons_news span:not(:last-child){
	margin-right: 10px;
}

.etc{
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 45px;
}

.prev_button a, .next_button a{
	background-image: url(images/buttons.png);
	background-repeat: no-repeat;
	background-position: -45px 0;
	width: 140px;
	height: 45px;
}

.prev_button a:hover, .next_button a:hover{
	background-position: -45px -45px;
}

.num_button a{
	background-image: url(images/buttons.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 45px;
	height: 45px;
}

.num_button a:hover{
	background-position: 0 -45px;
}

.actif_button a{
	background-position: 0 -45px;
}

/* CONTENU CHAT */
#contenu_chat{
	position: relative;
	z-index: 9999;
}

#left_chat{
	margin-top: 100px;
	z-index: -99999;
}

#center_chat{
	margin-top: 80px;
}

#area_chat{
	background-image: url(images/bg_chat.jpg);
	height: 555px;
	margin-bottom: 10px;
	border:3px solid #31312e;
	overflow: auto;
	color: black;
	margin-top: -140px;
	font-size: 0.9em;
}

#area_chat p{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#area_type{
	float: left;
}

.msg_server{
	color: #a52009;
}

.msg_user{
	color: white;
}

.msg_user span{
	color: #ddd700;
}

.msg_mort{
	color: #a9a9a9;
}

.dead{
	text-decoration:line-through;
}

#right_chat{
	margin-top: -60px;
}

#chrono{
	font-size: 3em;
	padding-left: 20px;
}

#chrono i{
	padding-right: 8px;
}

#list_user_chat{
	height: 390px;
}
#button_option_quit{
	margin-top: 30px;
	padding-left: 35px;
}
#button_vote, #button_pret, #button_envoyer{
	background-color: hsl(0, 0%, 16%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
	background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
	background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
	background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
	background-image: -o-linear-gradient(top, #5b5b5b, #282828);
	background-image: linear-gradient(#5b5b5b, #282828);
	border-color: #282828 #282828 hsl(0, 0%, 11%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased; 
}

#left_chat select{
	margin-left: 50px;
}

/* SALON */
#create_game h2, #join_game h2{
	color: #9A2D04;
}

#create_game form .btn, #join_game .btn{
	background-image: url(images/buttons.png);
	background-repeat: no-repeat;
	background-position: -45px 0;
	width: 140px;
	height: 45px;
	text-shadow: 0 0 0;
	border: 0;
	background-color: transparent;
	color: #f3e6d0;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 1.875em;
	text-align: center;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0;
}

#join_game .btn{
	margin-top: 20px;
}

#join_game .control-group{
	clear: both;
}

#create_game form .btn:hover, #join_game .btn:hover{
	background-position: -45px -45px;
	transition: none;
}

#join_game table{
	color: #F3E6D0;
}

#join_game table, #join_game tbody, #join_game td{
	border: 1px solid grey;
}

#intitules{
	background-image: url(images/intro_bg.png);
	color: white;
}

#join_game td{
	padding: 10px;
	vertical-align: middle;
	text-align: left;
}

#join_game .liste_li{
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

#join_game .liste_li:hover{
	cursor: pointer;
	background-color: rgba(175,16,0,0.2);
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

#join_game .choice{
	background-color: rgba(175,16,0,0.6);
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

#join_game .choice:hover{
	background-color: rgba(175,16,0,0.6);
}


.li_carte{
	background-color: rgba(255,255,255,0.2);
	position: relative;
}

.thumbnail{
	border: 0;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0;
}

.caption p{
	color: white;
}

.nombre_carte{
	position: absolute;
	color: white;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 3em;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
}

/* FOOTER */
footer{
	background: url(images/footer_bg2.png) center repeat-x;
	height: 379px;
	position: relative;
	z-index: 11;
}

/* Petite triche de mon invention pour afficher un espace de largeur grid_1 */
.espace_footer:before{
	content: '.';
	color: rgba(0,0,0,0);
}

#content_footer .row-fluid{
	padding-top: 74px;
}

#content_footer h3{
	color: #9a2d04;
	font-family: 'horror_sketchhorror_sketch';
	font-size: 2.250em;
	border-bottom: 2px solid #9a2d04;
}

#content_footer ul{
	margin-left: 0;
}

#content_footer li{
	font-size: 1.125em;
}

#content_footer li:not(:last-child){
	border-bottom: 1px solid #6d4948;
}

#content_footer li a{
	color: #FFFFFF;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-indent: 5px;
}

#content_footer li a:hover{
	background-color: rgba(154,45,4,0.2);
}

#content_footer li .actif{
	background-color: rgba(154,45,4,0.2);
}

#contact p{
	margin-top: 10px;
}

.color_text{
	color: #9a2d04;
}

.color_text:hover{
	color: #be3707;
}

.lol{
	font-style: italic;
	color: #9a2d04;
}

.email{
	color: #9a2d04;
}

#copyrights{
	font-size: 0.750em;
	text-align: center;
}